/* main styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.navbar {
    background-color: #c2c2c2 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .header_logo {
    width: 175px;
    margin-top: -5px !important;
    margin-left: 20px !important;
  }
  
  .header_right {
    display: flex;
    align-items: stretch;
    font-size: 25px;
    margin-right: 30px !important;
    padding: 10px;
  }
  
  /* dropdown */
  .header_right .dropdown-menu {
    display: none; /* Hide the dropdown menu by default */
    position: absolute; /* Position the dropdown absolutely */
    top: 100%; /* Position the dropdown below the header_right */
    left: 0;
    z-index: 1000; /* Ensure the dropdown appears above other content */
  }
  
  .header_right:hover .dropdown-menu {
    display: block; /* Show the dropdown menu when header_right is hovered */
    margin-top: 0;
    margin-left: 0;
    border-radius: 0 !important;
  }
  
  .header_right:hover {
    background-color: aqua;
  }
  
